.container {
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    margin: 1rem;
    line-height: 1.5rem;
    color: rgb(63, 58, 58);
    background-color: rgba(245, 245, 201, 0.189);
}

.container > header {
    padding: 1rem;
    background-color: rgba(255, 218, 185, 0.3);
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}

article {
    border: none;
}

section {
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-top: none;
    border-bottom: none;
}

h2 {
    padding: 20px;
    line-height: 1rem;
    margin:  2rem 0;
    border: 1px solid gray;
    background-color:  rgba(128, 62, 4, 0.1);
}

h3 {
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
    color: rgb(114, 68, 68);
}

img{
    max-height: 500px;
    max-width: auto;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    background-color: rosybrown;
}

.row {
    display: flex;
    justify-content: space-around;
}

.logos {
    max-height: 3rem;
    margin: 0.5rem;
}

.resize {
    max-height: 300px;
    max-width: auto;
}

.work {
    box-shadow: 20px 20px 40px 0 rgba(13, 59, 103, 0.53);
}

footer {
    padding: 1rem;
    background-color: rgba(255, 218, 185, 0.3);
}

/* when making a class use a "." in front of the name. 
when styling an id, use a # in front of the name. 
When styling an element, you don't need a period or hash in front of it.  */