* {
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    margin: 4px;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}

article {
    border: none;
}

section {
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-top: none;
    border-bottom: none;
}

h2 {
    line-height: 1rem;
    margin:  2rem 0;
}

img{
    max-height: auto;
    max-width: 500px;

}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: space-around;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

.prework {
    
  }

.work-column {
    flex: 50%;
    padding: 5px;
  }

.logos {
    max-height: 2rem;
}